body {
  padding: 20px;
  background: yellow; }
#nome {
  background: rgba(247, 1, 1, 0.911);
  border: solid;
  text-align: center 
}
#local {
  padding-top: 20px;
}
#bio {
  background-color: rgba(128, 255, 0, 0.568);
    #risada {
    width: 15px;
    }
 


}

    